''' @author: Beatriz, Daniel, Felipe, João, João, Marcelo;
    @team: Bureau SqPy;
    @version: 1.0.0
    @referenc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html?highlight=query#pandas.DataFrame.query
    @Theme: Análise de dados SPC-Brasil - Tabela: STG_OPR_ITT - Registro de todas as atividades relacionadas a OPERAÇÃO.
'''

In [1]:
#Parametrizações iniciais - import das bibliotecas.

import pandas as pd
import openpyxl
import xlrd

low_memory=False
pd.options.display.max_columns = 80
pd.options.display.max_rows = 90

In [2]:
path_erros = "../3 - Output/1 - Erros/"
path_validados = "../3 - Output/2 - Validados/"

In [3]:
# Geração do DATAFRAME completo do arquivo.

df_STG_OPR_ITT = pd.read_excel(r'../../../1 - Tabelas Base/STG_OPR_ITT.xlsx', delimiter=';', error_bad_lines=False, encoding='UTF-8')

#Informações preliminares

In [4]:
#Quantidade de LINHAS e Colunas do ARQUIVO.

df_STG_OPR_ITT.shape

(891, 11)

In [5]:
#Informações estatísticas do conteúdo de toda tabela.

df_STG_OPR_ITT.describe()

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT
count,891.000000,1.860000e+02,891.000000,1.860000e+02,891.000000,891.000000,891.0
mean,446.000000,3.716063e+08,105.588103,2.130121e+08,716.405163,881.766554,67.0
std,257.353842,9.805315e+08,93.246911,6.140449e+08,3704.805394,5161.589028,0.0
min,1.000000,5.350000e+06,1.000000,1.459095e+06,1.000000,1.000000,67.0
25%,223.500000,9.249125e+07,32.500000,4.166132e+07,3.000000,3.000000,67.0
50%,446.000000,1.745064e+08,75.000000,8.166429e+07,11.000000,12.000000,67.0
75%,668.500000,2.862793e+08,158.000000,1.487616e+08,161.500000,173.500000,67.0
max,891.000000,1.067297e+10,360.000000,5.932714e+09,56819.000000,97007.000000,67.0

In [6]:
#Informações Gerais.

df_STG_OPR_ITT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_STG_OPR_ITT   891 non-null    int64
 1   VLR_CTRD_CSC     186 non-null    float64
 2   QTD_PCL          891 non-null    int64
 3   VLR_SDO_DDR      186 non-null    float64
 4   QTD_CLI_CAD_POS  891 non-null    int64
 5   QTD_OPR          891 non-null    int64
 6   ID_FNT_ITT       891 non-null    int64
 7   ID_MDL           891 non-null    object
 8   DES_TIP_PSS      891 non-null    object
 9   DAT_RSS_FNT_ITT  891 non-null    object
 10  DAT_INC_DBO      891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 62.7+ KB

In [7]:
#Apresentação de uma amostra dos dados. 

df_STG_OPR_ITT.sample(10)

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT,ID_MDL,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
214,215,NaN,10,NaN,253,254,67,A99,F,2020-01-16,2020-01-27 10:49:48.15
510,511,NaN,17,NaN,503,511,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
60,61,NaN,51,NaN,142,152,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
258,259,NaN,44,NaN,13,13,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
543,544,1.002056e+08,89,50924180.0,8,9,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
591,592,9.891750e+07,175,78161657.0,11,11,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
815,816,NaN,32,NaN,12,12,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
633,634,1.879602e+09,144,501273183.0,170,208,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
172,173,NaN,1,NaN,8,8,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
135,136,NaN,47,NaN,379,405,67,A01,F,2020-01-16,2020-01-27 10:49:48.15

In [8]:
#Script gera um DATAFRAME contendo as linhas que não apresentam divergência da condição:
#O campo VLR_CTRD_CSC só poderá ter valores NUMÉRICOS se seu respectivo ID_MDL for igual a C01

df_VLR_CTRD_CSC_Corretos = df_STG_OPR_ITT.query('(ID_MDL == "C01") and (VLR_CTRD_CSC > 0)')

In [9]:
#Impressão do DATAFRAME

print(f'Quantidade de registro(s) Correto(s): {df_VLR_CTRD_CSC_Corretos.shape[0]}.')
df_VLR_CTRD_CSC_Corretos

Quantidade de registro(s) Correto(s): 186.

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT,ID_MDL,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
6,7,24231168.0,20,14774641.0,6,7,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
14,15,83720000.0,158,61146076.0,4,4,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
18,19,453409414.0,82,345569291.0,86,93,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
19,20,831887355.0,70,387293236.0,150,171,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
22,23,168720000.0,117,47151818.0,10,10,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
...,...,...,...,...,...,...,...,...,...,...,...
853,854,235637981.0,93,123012165.0,21,22,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
859,860,62075885.0,17,17357289.0,7,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
869,870,213020000.0,176,132743567.0,12,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
873,874,174842840.0,103,61800347.0,12,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
886,887,85699650.0,105,57998876.0,14,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15

In [10]:
#Script gera um DATAFRAME contendo as linhas que apresentam divergência da condição:
#O campo VLR_CTRD_CSC só poderá ter valores NUMÉRICOS se seu respectivo ID_MDL for igual a C01

df_VLR_CTRD_CSC_Incorretos = df_STG_OPR_ITT.query('((ID_MDL != "C01") and (VLR_CTRD_CSC > 0)) or ((ID_MDL == "C01") and (VLR_CTRD_CSC == ""))')

In [11]:
#Impressão do DATAFRAME INCORRETOS

print(f'Quantidade de registro(s) Incorreto(s): {df_VLR_CTRD_CSC_Incorretos.shape[0]}.')
df_VLR_CTRD_CSC_Incorretos

Quantidade de registro(s) Incorreto(s): 0.

Empty DataFrame
Columns: [ID_STG_OPR_ITT, VLR_CTRD_CSC, QTD_PCL, VLR_SDO_DDR, QTD_CLI_CAD_POS, QTD_OPR, ID_FNT_ITT, ID_MDL, DES_TIP_PSS, DAT_RSS_FNT_ITT, DAT_INC_DBO]
Index: []

In [12]:
#Consolidação das Informações Obitidas:

totalRegistros = df_STG_OPR_ITT.shape[0]
totalCorretos = df_VLR_CTRD_CSC_Corretos.shape[0]
totalIncorretos = df_VLR_CTRD_CSC_Incorretos.shape[0]
consolidacao = {"Quantidade": [df_STG_OPR_ITT.shape[0], df_VLR_CTRD_CSC_Corretos.shape[0], df_VLR_CTRD_CSC_Incorretos.shape[0]], 
                "%": [f'100',f'{((df_VLR_CTRD_CSC_Corretos.shape[0]*100)/df_STG_OPR_ITT.shape[0])}', f'{((df_VLR_CTRD_CSC_Incorretos.shape[0]*100)/df_STG_OPR_ITT.shape[0])}']}

In [13]:
#Geração do DATAFRAME com os dados de CONSOLIDAÇÃO.

df_consolidacao = pd.DataFrame(consolidacao, columns=['Quantidade', '%'], index=['Total Registros', 'Total Corretos', 'Total Incorretos'])

In [14]:
#Impressão do DATAFRAME CONSOLIDAÇÃO.

df_consolidacao

                  Quantidade                   %
Total Registros          891                 100
Total Corretos           186  20.875420875420875
Total Incorretos           0                 0.0

In [15]:
## Exportar df para xlsx em ordem crescente e sem index

df_VLR_CTRD_CSC_Corretos.sort_values('ID_STG_OPR_ITT').to_excel(path_erros + 'ERR_STG_OPR_ITT.xlsx', index = False)
df_VLR_CTRD_CSC_Incorretos.sort_values('ID_STG_OPR_ITT').to_excel(path_validados + 'OPR_ITT.xlsx', index= False)