''' @author: Beatriz, Daniel, Felipe, João, João, Marcelo;
    @team: Bureau SqPy;
    @version: 1.0.2
    @referenc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html?highlight=query#pandas.DataFrame.query
    @Theme: Análise de dados SPC-Brasil - Tabela: STG_PGT
'''

In [1]:
import pandas as pd
low_memory=False
%matplotlib inline

In [2]:
path = '../../../1 - Tabelas Base/'
filename = 'STG_PGT.xlsx'

path_erros = "../3 - Output/1 - Erros/"
path_validados = "../3 - Output/2 - Validados/"

#Mantém as informações dos pagamentos do Cadastro Positivo
df= pd.read_excel(path + filename)

In [3]:
#Altera o nome das colunas
df=df.rename(columns={'ID_STG_PGT': 'ID_da_Stage', 'VLR_PGT_FAT': 'Valor_Pago', 'DAT_VCT': 'Data_Vencimento', 'COD_MDL': 'Modalidade_Pagamento', 'QTD_CLI_CAD_POS': 'CPF_Distintos', 'QTD_PGT': 'Qtd_Pagamentos', 
                      'ID_FNT_ITT': 'Fonte_Dados', 'DES_TIP_PSS': 'Tipo_Cliente', 'DAT_RSS_FNT_ITT': 'Data_Ultima_Alteracao', 'DAT_INC_DBO': 'Data_Inclusao',})
#Transforma a coluna em string e os outros três foi feita uma separação através de concatenação.
df['Data_Vencimento'] = df['Data_Vencimento'].apply(str) 
df['Dia'] = df['Data_Vencimento'].str.slice(0,2)
df['Mês'] = df['Data_Vencimento'].str.slice(2,4)
df['Ano'] = df['Data_Vencimento'].str.slice(4,)
#Junta três colunas em uma só
df["Data_Vencimento"] = df["Dia"]+ '-' + df["Mês"] + '-' + df["Ano"]
#Excluí colunas
df=df.drop(columns=['Dia','Mês','Ano'])
df

,ID_da_Stage,Valor_Pago,Data_Vencimento,Modalidade_Pagamento,CPF_Distintos,Qtd_Pagamentos,Fonte_Dados,Tipo_Cliente,Data_Ultima_Alteracao,Data_Inclusao
0,451,515711,16-08-2022,A04,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
1,452,60763,26-10-2020,A99,2,2,67,F,2020-01-16,2020-01-17 17:50:42.746
2,453,8588195,24-02-2019,G01,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
3,454,369084,24-06-2018,B99,16,23,67,F,2020-01-16,2020-01-17 17:50:42.746
4,455,13054,20-02-2021,B99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
...,...,...,...,...,...,...,...,...,...,...
15441,15422,795535,23-01-2023,A04,47,48,67,F,2020-01-16,2020-01-17 17:50:42.746
15442,15423,519,20-01-2018,A99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
15443,15424,140534,26-06-2020,A01,3,3,67,F,2020-01-16,2020-01-17 17:50:42.746
15444,15425,141887,11-11-2024,A01,7,9,67,F,2020-01-16,2020-01-17 17:50:42.746
15445,15426,116296,17-03-2023,A01,11,20,67,F,2020-01-16,2020-01-17 17:50:42.746

In [4]:
df[['ID_da_Stage', 'Valor_Pago',  'Data_Vencimento',  'Modalidade_Pagamento','CPF_Distintos','Qtd_Pagamentos', 
    'Fonte_Dados','Tipo_Cliente','Data_Ultima_Alteracao', 'Data_Inclusao']].isnull().sum()

#O comando isnull permite confirmar em todas as colunas, se em alguma célula possuí dado nulo ("Nan").
#No output é possível perceber que não existe esse caso em nenhuma das células

ID_da_Stage              0
Valor_Pago               0
Data_Vencimento          0
Modalidade_Pagamento     0
CPF_Distintos            0
Qtd_Pagamentos           0
Fonte_Dados              0
Tipo_Cliente             0
Data_Ultima_Alteracao    0
Data_Inclusao            0
dtype: int64

In [5]:
df1= df[df.CPF_Distintos > df.Qtd_Pagamentos]
df1
#O comando confirma se não há nenhum dado na coluna E que seja maior que o dado da coluna F, que seria um erro.
#A planilha não possuí nenhum desses casos, portanto está livre desse tipo de erro

Empty DataFrame
Columns: [ID_da_Stage, Valor_Pago, Data_Vencimento, Modalidade_Pagamento, CPF_Distintos, Qtd_Pagamentos, Fonte_Dados, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [8]:
df = df[~df.ID_da_Stage.isin(df1)]

In [9]:
df

,ID_da_Stage,Valor_Pago,Data_Vencimento,Modalidade_Pagamento,CPF_Distintos,Qtd_Pagamentos,Fonte_Dados,Tipo_Cliente,Data_Ultima_Alteracao,Data_Inclusao
0,451,515711,16-08-2022,A04,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
1,452,60763,26-10-2020,A99,2,2,67,F,2020-01-16,2020-01-17 17:50:42.746
2,453,8588195,24-02-2019,G01,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
3,454,369084,24-06-2018,B99,16,23,67,F,2020-01-16,2020-01-17 17:50:42.746
4,455,13054,20-02-2021,B99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
...,...,...,...,...,...,...,...,...,...,...
15441,15422,795535,23-01-2023,A04,47,48,67,F,2020-01-16,2020-01-17 17:50:42.746
15442,15423,519,20-01-2018,A99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
15443,15424,140534,26-06-2020,A01,3,3,67,F,2020-01-16,2020-01-17 17:50:42.746
15444,15425,141887,11-11-2024,A01,7,9,67,F,2020-01-16,2020-01-17 17:50:42.746
15445,15426,116296,17-03-2023,A01,11,20,67,F,2020-01-16,2020-01-17 17:50:42.746

In [7]:
##Exporta as df
df.to_excel(path_validados + 'PGT.xlsx', index=False)
df.to_excel(path_erros + 'ERR_STG_PGT.xlsx', index=False)