''' @author: Beatriz, Daniel, Felipe, João, João, Marcelo;
    @team: Bureau SqPy;
    @version: 1.0.0
    @referenc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html?highlight=query#pandas.DataFrame.query
    @Theme: Análise de dados SPC-Brasil - Tabela: STG_OPR_ITT - Registro de todas as atividades relacionadas a OPERAÇÃO.
'''

In [1]:
#Parametrizações iniciais - import das bibliotecas.

import pandas as pd

low_memory=False
pd.options.display.max_columns = 80
pd.options.display.max_rows = 90

In [2]:
# Geração do DATAFRAME completo do arquivo.

df_STG_OPR_ITT = pd.read_csv(r'.\data\STG_OPR_ITT.csv', delimiter =',', encoding='iso-8859-1')

#Informações preliminares

In [3]:
#Quantidade de LINHAS e Colunas do ARQUIVO.

df_STG_OPR_ITT.shape

(891, 11)

In [4]:
#Informações estatísticas do conteúdo de toda tabela.

df_STG_OPR_ITT.describe()

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT
count,891.000000,1.870000e+02,890.000000,1.860000e+02,890.000000,890.000000,890.0
mean,446.000000,3.696257e+08,105.656180,2.130121e+08,716.826966,882.355056,67.0
std,257.353842,9.782671e+08,93.277184,6.140449e+08,3706.867095,5164.461334,0.0
min,1.000000,1.236445e+06,1.000000,1.459095e+06,1.000000,1.000000,67.0
25%,223.500000,9.161382e+07,32.250000,4.166132e+07,3.000000,3.000000,67.0
50%,446.000000,1.741700e+08,75.000000,8.166429e+07,11.000000,12.000000,67.0
75%,668.500000,2.822379e+08,158.000000,1.487616e+08,160.750000,172.750000,67.0
max,891.000000,1.067297e+10,360.000000,5.932714e+09,56819.000000,97007.000000,67.0

In [5]:
#Informações Gerais.

df_STG_OPR_ITT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_STG_OPR_ITT   891 non-null    int64
 1   VLR_CTRD_CSC     187 non-null    float64
 2   QTD_PCL          890 non-null    float64
 3   VLR_SDO_DDR      186 non-null    float64
 4   QTD_CLI_CAD_POS  890 non-null    float64
 5   QTD_OPR          890 non-null    float64
 6   ID_FNT_ITT       890 non-null    float64
 7   ID_MDL           891 non-null    object
 8   DES_TIP_PSS      890 non-null    object
 9   DAT_RSS_FNT_ITT  890 non-null    object
 10  DAT_INC_DBO      890 non-null    object
dtypes: float64(6), int64(1), object(4)
memory usage: 62.7+ KB

In [6]:
df_STG_OPR_ITT.sample(10)

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT,ID_MDL,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
45,46,NaN,40.0,NaN,256.0,273.0,67.0,B99,F,2020-01-16,2020-01-27 10:49:48.15
615,616,NaN,234.0,NaN,3.0,3.0,67.0,B03,F,2020-01-16,2020-01-27 10:49:48.15
467,468,NaN,32.0,NaN,578.0,626.0,67.0,A04,F,2020-01-16,2020-01-27 10:49:48.15
696,697,NaN,75.0,NaN,11.0,11.0,67.0,B99,F,2020-01-16,2020-01-27 10:49:48.15
796,797,NaN,96.0,NaN,11.0,11.0,67.0,B03,F,2020-01-16,2020-01-27 10:49:48.15
226,227,1.893250e+08,137.0,6.156502e+07,16.0,19.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
172,173,NaN,1.0,NaN,8.0,8.0,67.0,B05,F,2020-01-16,2020-01-27 10:49:48.15
627,628,1.493780e+09,192.0,1.316010e+09,46.0,53.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
407,408,NaN,243.0,NaN,2.0,2.0,67.0,B03,F,2020-01-16,2020-01-27 10:49:48.15
487,488,NaN,52.0,NaN,104.0,115.0,67.0,B99,F,2020-01-16,2020-01-27 10:49:48.15

In [7]:
#Script gera um DATAFRAME contendo as linhas que não apresentam divergência da condição:
#O campo VLR_CTRD_CSC só poderá ter valores NUMÉRICOS se seu respectivo ID_MDL for igual a C01

df_VLR_CTRD_CSC_Corretos = df_STG_OPR_ITT.query('(ID_MDL == "C01") and (VLR_CTRD_CSC > 0)')

In [8]:
#Impressão do DATAFRAME

print(f'Quantidade de registro(s) Correto(s): {df_VLR_CTRD_CSC_Corretos.shape[0]}.')
df_VLR_CTRD_CSC_Corretos

Quantidade de registro(s) Correto(s): 186.

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT,ID_MDL,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
6,7,24231168.0,20.0,14774641.0,6.0,7.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
14,15,83720000.0,158.0,61146076.0,4.0,4.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
18,19,453409414.0,82.0,345569291.0,86.0,93.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
19,20,831887355.0,70.0,387293236.0,150.0,171.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
22,23,168720000.0,117.0,47151818.0,10.0,10.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
...,...,...,...,...,...,...,...,...,...,...,...
853,854,235637981.0,93.0,123012165.0,21.0,22.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
859,860,62075885.0,17.0,17357289.0,7.0,15.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
869,870,213020000.0,176.0,132743567.0,12.0,15.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
873,874,174842840.0,103.0,61800347.0,12.0,15.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15
886,887,85699650.0,105.0,57998876.0,14.0,15.0,67.0,C01,F,2020-01-16,2020-01-27 10:49:48.15

In [9]:
#Script gera um DATAFRAME contendo as linhas que apresentam divergência da condição:
#O campo VLR_CTRD_CSC só poderá ter valores NUMÉRICOS se seu respectivo ID_MDL for igual a C01

df_VLR_CTRD_CSC_Incorretos = df_STG_OPR_ITT.query('((ID_MDL != "C01") and (VLR_CTRD_CSC > 0)) or ((ID_MDL == "C01") and (VLR_CTRD_CSC == ""))')

In [10]:
#Impressão do DATAFRAME INCORRETOS

print(f'Quantidade de registro(s) Incorreto(s): {df_VLR_CTRD_CSC_Incorretos.shape[0]}.')
df_VLR_CTRD_CSC_Incorretos

Quantidade de registro(s) Incorreto(s): 1.

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT,ID_MDL,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1,1236445.0,NaN,NaN,NaN,NaN,NaN,B33,NaN,NaN,NaN

In [11]:
#Consolidação das Informações Obitidas.

totalRegistros = df_STG_OPR_ITT.shape[0]
totalCorretos = df_VLR_CTRD_CSC_Corretos.shape[0]
totalIncorretos = df_VLR_CTRD_CSC_Incorretos.shape[0]
consolidacao = {"VLR_CTRD_CSC & ID_MDL": [df_STG_OPR_ITT.shape[0], df_VLR_CTRD_CSC_Corretos.shape[0], df_VLR_CTRD_CSC_Incorretos.shape[0]], 
                "%": [f'100',f'{((df_VLR_CTRD_CSC_Corretos.shape[0]*100)/df_STG_OPR_ITT.shape[0])}', ((df_VLR_CTRD_CSC_Incorretos.shape[0]*100)/df_STG_OPR_ITT.shape[0])]}

In [12]:
#Geração do DATAFRAME com os dados de CONSOLIDAÇÃO.

df_consolidacao = pd.DataFrame(consolidacao, columns=['VLR_CTRD_CSC & ID_MDL', '%'], index=['Total Registros', 'Total Corretos', 'Total Incorretos'])

In [13]:
#Impressão do DATAFRAME CONSOLIDAÇÃO.

df_consolidacao

                  VLR_CTRD_CSC & ID_MDL                   %
Total Registros                     891                 100
Total Corretos                      186  20.875420875420875
Total Incorretos                      1            0.112233